/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #FCFCFC;
  ;
  --second-color: #040941;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'inter', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1.2rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;

}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1824px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  position: relative;
  top: 50px;
  left: 0;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.ifh {
  width: 80px;
  height: 80px;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
    margin-top: 50px;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__item:hover {
  color: #F4EFE3;
}

.nav__link {
  position: relative;
  color: #fff;
  margin-left: 70px;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: var(--secon-color);
  font-size: 20px;
  font-family: 'poppins';
  margin-left: -150px;
}

.nav__toggle {
  color: var(--second-color);
  font-size: 2rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home__data {
  align-self: center;
  margin-bottom: 55rem;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: #624145;
  font-size: 64px;
}

.home__title2 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 109px;
  color: #434343;

}

.home__title-color {
  color: var(--first-color);
  font-size: 48px;
}

.home__social {
  display: flex;
  flex-direction: column;
  color: #734A45;
  margin-top: 33rem;
  margin-left: 15rem;
}

.home__download-icon {
  color: rgba(255, 255, 255, 0.637);
  font-size: 24px;
  width: max-content;
  z-index: 9;
}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 3rem;
  color: #734A45;
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  width: 1000px;
  right: 0;
  bottom: 0;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: #734A45;
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: 400;
  border-radius: .5rem;
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.download_cv {
  display: inline-block;
  color: #F4EFE3;
  font-weight: 500;
  font-family: inter;
  margin-left: 30px;

}

.download_cv:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/* ===== ABOUT =====*/

.about_bg {
  width: 258px;
  height: 52px;
  left: 122px;
  top: 728px;
  margin-left: 200px;
  padding-left: 10px;
  background: linear-gradient(90deg, #CCB18E 0%, rgba(204, 177, 142, 0) 100%);
  border-radius: 5px;
}

.about__container {
  row-gap: 2rem;
  text-align: center;
}

.about__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  color: #624145;
  font-size: 64px;
  margin-bottom: var(--mb-2);
}

.about__title-color {
  color: #CEB697;
  font-size: 64px;
}

.about__text {
  color: #434343;
  font-size: 24px;
}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

/* ===== SKILLS =====*/
.skills {
  background: linear-gradient(90deg, #F4EFE3 0%, #F8F6F2 100%);
  row-gap: 2rem;
  height: 73rem;
}

.skills__img {
  margin-left: 75rem;
  width: 925px;
  margin-top: -13rem;

}

.skills__container {
  row-gap: 9rem;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-top: 15px;
  color: #D7C3AA;
  margin-left: 14rem;
  font-size: 24px;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  position: absolute;
  border-radius: .5rem;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
}

.figma {
  float: left;
  width: 150px;
  padding: 20px;
  margin-left: 200px;
}


/* ===== WORK =====*/
.work {
  background: #F8F6F2;
}

.work__container {
  row-gap: 2rem;
  margin-top: 110px;
  margin-bottom: 120px;
}

.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
  cursor: pointer;
}

.work__img img:hover {
  transform: scale(1.1);
}

.button_work {
  display: inline-block;
  background-color: #734A45;
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: 400;
  border-radius: .5rem;
  margin-left: 71rem;
}

.button_work:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

/* ===== CONTACT =====*/
.contact {
  background: #faf9f6;
  height: 68rem;
}

.contact__container {
  margin-top: 8rem;
}

.contact__input {
  width: 200%;
  margin-left: -7rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  font-family: muli;
  background-color: #EFE7DC;
  border: 1px solid #000000;
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: 30rem;
}

/* ===== FOOTER =====*/
.footer {
  background-color: #434343;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding: 1rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-2);
}

.footer__social {
  margin-bottom: var(--mb-1);
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

.ifh_footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    background-color: #CEB697;
    height: 10rem;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }


  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--second-color);
  }

  .home {
    margin-top: -50px;
    height: 1rem;
    width: 300vh;
    background-color: #CEB697;
  }

  .home__data {
    align-self: flex-end;
    margin-top: -50rem;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 1000px;
    bottom: 10%;
  }

  .about {
    background: linear-gradient(270deg, #F4EFE3 0%, #F8F6F2 100%);
    height: 72.6rem;
    left: 731px;
    top: 681px;
  }


  .section-title-about {
    position: relative;
    font-size: 42px;
    color: #624145;
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
  }

  .section-title-about::after {
    position: absolute;
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
  }


  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .about__img img {
    width: 925px;
  }

  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .particles-js {
    z-index: 1;
  }

  body {
    margin: 0;
    background-color: #CEB697;
  }

  .particle-js {
    height: 300px;
  }

  .ifh {
    width: 100px;
    height: 100px;
    margin-top: 30px;
  }

  .nav__list {
    display: flex;
    padding-left: 500px;
    font-family: Poppins;
    font-style: bold;
    font-weight: 50;
    font-size: 24px;
    color: #434343;
  }

  .ifh_ava {
    width: 925px;
    margin-top: -198px;
    margin-left: -250px;
  }


  .bd-grid {
    margin-left: 200px;
    margin-right: 200px;
  }

  .home__img {
    width: 1000px;
    height: 900px;
  }

  .ifh_ava_skill {
    width: 1125px;
    margin-top: 0;
    margin-left: -7rem;
  }
}

@media screen and (max-width: 360px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    left: 25%;
    width: 70%;
  }
}